<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSfiq6CteHwYg5A8tlDySBonHCgCkXxoY</string>
	<key>GCM_SENDER_ID</key>
	<string>750264368267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
<string>pe.gob.iiap.guiailustrada.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>guiailustrada-75ebe</string>
	<key>STORAGE_BUCKET</key>
	<string>guiailustrada-75ebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750264368267:ios:8f7b050a1c54fb9718e88e</string>
</dict>
</plist>